

body{
  font-family: Arial, sans-serif;
 
}

.navbar {
  background: #f1ce3f;
  
}

.nav-link {
  position: relative;
  transition: color 0.3s ease;
  display: inline-block;
  padding-bottom: 5px;
  font-size: 16px; 
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #281900;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.6s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.tab-link:active {
  
  transform: scale(0.95); 
  box-shadow: 0 0 10px #0f0c01; 
}

article{
  
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

article img{
  width: 30%;
  height:300px;
  object-fit: cover;
  margin: 10px;
  
}
.gallery {
  display: none;
  padding: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gallery.active {
  display: flex;
  
}

.gallery img {
  width: 30%;
  height: auto;
  margin: 10px;
  border-radius: 2%;
}

.card-body {
  background: url('/imagem/Icons/Mdf.svg');
}

.card-body h5, .card-text {
  color: white;
}


.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  padding: 10px;
  
}

@media (max-width: 768px) {
  .nav-link {
    font-size: 14px; 
    padding-bottom: 4px; 
  }

  .nav-link::after {
    height: 1.5px; 
  }
}


@media (max-width: 605px) {
  article img{
    width: 90%;
  }
  
  .gallery img {
    width: 100%; 
  }

  .nav-item{
    font-size: 2px; 
    padding-bottom: 3px; 
  }

  .whatsapp-button {
    bottom: 50px;
    right: 10px;
  }
}

