

body{
  font-family: Arial, sans-serif;
 
}

.navbar {
  background: #f1ce3f;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.navbar:hover {
  background-color: #e5b834;
}


.nav-link {
  position: relative;
  transition: color 0.3s ease;
  display: inline-block;
  padding-bottom: 5px;
  font-size: 16px; 
}
.nav-link:hover {
  color: #281900;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #281900;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.6s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.tab-link:active {
  
  transform: scale(0.95); 
  box-shadow: 0 0 10px #0f0c01; 
}

.carousel-item img{
  object-fit: cover;
  height: 500px;
}

article{
  
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

article img{
  width: 30%;
  height:200px;
  object-fit: cover;
  margin: 10px;
  
}
.gallery {
  display: none;
  padding: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gallery.active {
  display: flex;
  
}

.gallery img {
  width: 30%;
  height: auto;
  margin: 10px;
  border-radius: 2%;
}

.gallery img:hover {
  transform: scale(1.05);
  transition: transform 0.6s ease;
}


.card-body {
  background: url('/imagem/Icons/Mdf.svg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.card-body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.card-body h5, .card-text {
  position: relative;
  z-index: 2;
  color: white;
}

iframe {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  padding: 10px;
  background-color: #25D366;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}


@media (max-width: 768px) {
  .nav-link {
    font-size: 14px; 
    padding-bottom: 4px; 
  }

  .nav-link::after {
    height: 1.5px; 
  }
  article img, .gallery img {
    width: calc(50% - 20px);
  }
}


@media (max-width: 650px) {
  .nav-item{
    font-size: 2px; 
    padding-bottom: 3px; 
  }
  .nav-link:hover {
    color: #281900;
  }

  article img, .gallery img {
    width: calc(100% - 20px);
  }

  .whatsapp-button {
    bottom: 50px;
    right: 10px;
  }
}

